<div th:fragment="deleteModal" id="deleteModal" class="modal fade" role="dialog"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Suppression</h4>
            </div>
            <div class="modal-body">
                <p>Confirmer la suppression ?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" href="#" id="modalButtonRemove" >Supprimer</a>
                <a class="btn btn-default" href="#" data-dismiss="modal">Annuler</a>
            </div>
        </div>
    </div>
</div>